 body{
  padding-right: 30px; 
  padding-left: 30px;
 }

 .header{
  display: inline-block;
 }

 #navbar {
  padding: 0;
  margin: 0;
  border: 2px solid whitesmoke;
  /*width: 1000px;*/
  background-color: white;
  text-align: center;
  background-position: center;
}

#navbar li { display: inline-block;
  margin: 10px;
}

#navbar a {
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 80px;
}

h3{
  font-size: 22px;
  
}
.posts{
  padding: 10px;
}
.popularposts{
  display: flex;
}

.post1{
  margin: 40px;
  display: flex;
  background-image: url('https://st.depositphotos.com/1008438/1897/i/600/depositphotos_18970321-stock-photo-modern-office-interior.jpg"');
  height: 400px;
  width: 500px;
  text-align: bottom;
}

.post2{
  margin: 40px;
  display: flex;
  height: 400px;
  width: 500px;
  background-image: url('https://image.freepik.com/free-photo/front-view-of-people-having-a-meeting-in-the-office_23-2148817053.jpg');
}
